<div class="p-about">
    <div class="p-about__inner l-inner">
        <div class="p-about__title">
            <%- include('../component/_c-title',{
                title:'会社概要',
                subtitle:'ABOUT',
                color:'white'
            }) %>
        </div>
        <div class="p-about__wrap">
            <div class="p-about__info --white">
                会社名&emsp;株式会社ひらみぱん<br>
                <a href="https://maps.app.goo.gl/b72oe8jquSuVxrT59" rel="noopener noreferrer" target="_blank">
                    所在地&emsp;〒920-0865<br>
                    石川県金沢市長町1丁目6-11
                    <img src="./images/common/ex_link.svg" alt="外部リンク">
                </a><br>
                電話番号&emsp;076-221-7831<br>
                設立&emsp;2017年9月1日<br>
                資本金&emsp;200万円<br>
                代表者&emsp;平見高広<br>
                事業内容&emsp;飲食店の運営
            </div>
            <div class="p-about__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6408.986068524417!2d136.651047!3d36.566335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8337c18167dd9%3A0x9e1d51ab3e4d124!2z44Gy44KJ44G_44Gx44KT!5e0!3m2!1sja!2sus!4v1725266437168!5m2!1sja!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>