<div class="p-contact">
    <div class="p-contact__inner l-inner">
        <div class="p-contact__title">
            <%- include('../component/_c-title2',{
                title:'採用フォーム',
                subtitle:'CONTACT'
            }) %>
        </div>
        <div class="p-contact__form">
            <%- include('_p-form') %>
        </div>
        <div class="p-contact__bnr">
            <%- include('../component/_c-bnr') %>
        </div>
    </div>
</div>