<div class="p-float">
    <ul class="p-float__btns">
        <li class="p-float__btn">
            <a href="#">
                <img src="./images/common/float01.png" alt="online store" class="u-desktop">
                <img src="./images/common/float01_sp.png" alt="online store" class="u-mobile">
            </a>
        </li>
        <li class="p-float__btn">
            <a href="#">
                <img src="./images/common/float02.png" alt="ひらみぱんの移動販売の年間スケジュール" class="u-desktop">
                <img src="./images/common/float02_sp.png" alt="ひらみぱんの移動販売の年間スケジュール" class="u-mobile">
            </a>
        </li>
    </ul>
</div>