<div class="p-form">
    <div class="p-form__main">
        <div class="p-form__row">
            <dt>氏名<span>（必須）</span></dt>
            <dd>
                <input type="text">
            </dd>
        </div>
        <div class="p-form__row">
            <dt>フリガナ<span>（必須）</span></dt>
            <dd>
                <input type="text">
            </dd>
        </div>
        <div class="p-form__row">
            <dt>電話番号<span>（必須）</span></dt>
            <dd>
                <input type="tel">
            </dd>
        </div>
        <div class="p-form__row">
            <dt>メールアドレス<span>（必須）</span></dt>
            <dd>
                <input type="text">
            </dd>
        </div>
    </div>
    <div class="p-form__text">ご入力内容をご確認の上、「入力内容の確認」<br class="u-mobile">ボタンをクリックしてください。</div>
    <div class="p-form__submit">
        <div class="c-btn">
            <input type="submit" value="入力内容の確認">
        </div>
    </div>
</div>