<div class="p-greeting">
    <div class="p-greeting__inner l-inner">
        <div class="p-greeting__title">
            <%- include('../component/_c-title2',{
                title:'メッセージ',
                subtitle:'MESSAGE'
            }) %>
        </div>
        <picture class="p-greeting__img">
            <source srcset="./images/recruit/recruit_sp.webp" media="(max-width:767px)" type="image/webp" />
            <source srcset="./images/recruit/recruit_sp.jpg" media="(max-width:767px)" />
            <source srcset="./images/recruit/recruit.webp" type="image/webp" />
            <img src="./images/recruit/recruit.jpg" alt="メッセージ">
        </picture>
        <p class="p-greeting__bigText">
            たとえば、本のように、<br>誰かの背中を<br class="u-mobile">押すことができたら。
        </p>
        <p class="p-greeting__text">
            僕は本が好きです。<br class="u-desktop">
            読書をすると、旅ができるからです。<br class="u-desktop">
            知らなかったことを知ることができる。<br class="u-desktop">
            行ったことのないところに行くことができる。<br class="u-desktop">
            僕は、これまで本に何度も背中を押されました。<br class="u-desktop">
            自分も行けるんじゃないか？自分もできるんじゃないか？<br class="u-desktop">
            だから「やってみよう」と、これまでいろんなことに挑戦できました。<br class="u-desktop">
            『ひらみぱん』もそうなんです。<br class="u-desktop">
            ふとした拍子に「やってみよう」と思って、<br class="u-desktop">
            僕はこの場所をつくり、ブラッスリーをつくり、パンをつくった。<br class="u-desktop">
            そうしたら、うれしいことに、よろこんでくれる人がたくさんいた。<br class="u-desktop">
            こんな自分だけど、やればできるんだ。そう思いました。<br class="u-desktop">
            僕が本に背中を押されたように、<br class="u-desktop">
            僕が誰かの背中を押すことができたら。<br class="u-desktop">
            いっしょにはたらくメンバーには、いつもそんな想いでいます。<br class="u-desktop">
            あなたの背中を押すことができたら、<br class="u-desktop">
            あなたの人生の旅を応援することができたら、とてもうれしいです。
        </p>
        <picture class="p-greeting__img2">
            <source srcset="./images/recruit/greeting_img_sp.webp" media="(min-width:768px)" type="image/webp" />
            <source srcset="./images/recruit/greeting_img_sp.jpg" media="(max-width:767px)" />
            <source srcset="./images/recruit/greeting_img.webp" type="image/webp" />
            <img src="./images/recruit/greeting_img.jpg" alt="お店のようす">
        </picture>
    </div>
</div>