<div class="p-message">
    <picture class="p-message__img">
        <source srcset="./images/top/bg_message_sp.webp" media="(max-width:767px)" type="image/webp" />
        <source srcset="./images/top/bg_message_sp.jpg" media="(max-width:767px)" />
        <source srcset="./images/top/bg_message.webp" type="image/webp" />
        <img src="./images/top/bg_message.jpg" alt="背景">
    </picture>
    <div class="p-message__inner l-inner">
        <div class="p-message__content">
            <div class="p-message__title">
                <%- include('../component/_c-title',{
                    title:'ごあいさつ',
                    subtitle:'BON VOYAGE',
                    color:'white'
                }) %>
            </div>
            <h3 class="p-message__subTitle">
                <img src="./images/top/message_ttl.svg" alt="Artisan est Artiste." class="u-desktop">
                <img src="./images/top/message_ttl_sp.svg" alt="Artisan est Artiste." class="u-mobile">
            </h3>
            <div class="p-message__text --white --center">
                <p>
                    ただのベーカリーにはなりたくないんです。<br>
                    ひとつのくくりに縛られないで、<br>
                    もっと自由に、気ままに、何かを表現<br class="u-mobile">していたい。<br>
                    なぜパンやお菓子をつくっているか<br class="u-mobile">というと、<br class="u-desktop">
                    そこに思想を込められる<br class="u-mobile">からです。<br class="u-desktop">
                    作り手の生き方を投影できる<br class="u-mobile">というか、<br class="u-desktop">
                    言葉にできない感覚や心情を<br class="u-mobile">かたちにできるというか。
                </p>
                <p>
                    わたしたちにとってパンやお店は<br>
                    絵本作家にとっての絵本であり、<br>
                    服飾デザイナーにとっての服と同じです。<br><br class="u-mobile">
                    ふつうのベーカリーらしくない<br class="u-mobile">物言いですけど、<br class="u-desktop">
                    「世の中には<br class="u-mobile">ダサいパンとダサくないパンがある」。<br>
                    そして、わたしたちは<br class="u-mobile">「ダサいパンはつくりたくない」。<br>
                    それはきっと、音楽家がダサい楽曲は<br class="u-mobile">つくりたくない、<br class="u-desktop">
                    って心持ちと<br class="u-mobile">いっしょじゃないかと。
                </p>
                <p>
                    ひらみぱんは、<br class="u-mobile">自分たちが表現したい何かを<br class="u-desktop">
                    具象化<br class="u-mobile">していくためのブランドです。<br>
                    わたしたちの思想や、<br class="u-mobile">感性や、思いつきや、ひらめきを、<br>
                    愉しんでもらえたらしあわせです。
                </p>
            </div>
            <picture class="p-message__logo">
                <source srcset="" type="image/webp" />
                <img src="./images/top/logo_hirami.png" alt="ひらみぱん">
            </picture>
        </div>
    </div>
</div>