<div class="p-mv">
    <div class="p-mv__inner">
        <div class="p-mv__slider js-mv-slider u-desktop">
            <picture>
                <source srcset="./images/top/mv1_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv1_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv1.webp" type="image/webp" />
                <img src="./images/top/mv1.jpg" alt="">
            </picture>
            <picture>
                <source srcset="./images/top/mv2_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv2_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv2.webp" type="image/webp" />
                <img src="./images/top/mv2.jpg" alt="">
            </picture>
            <picture>
                <source srcset="./images/top/mv3_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv3_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv3.webp" type="image/webp" />
                <img src="./images/top/mv3.jpg" alt="">
            </picture>
            <picture>
                <source srcset="./images/top/mv4_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv4_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv4.webp" type="image/webp" />
                <img src="./images/top/mv4.jpg" alt="">
            </picture>
            <picture>
                <source srcset="./images/top/mv5.webp" type="image/webp" />
                <img src="./images/top/mv5.jpg" alt="">
            </picture>
        </div>
        <div class="p-mv__slider js-mv-slider u-mobile">
            <picture>
                <source srcset="./images/top/mv1_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv1_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv1.webp" type="image/webp" />
                <img src="./images/top/mv1.jpg" alt="">
            </picture>
            <picture>
                <source srcset="./images/top/mv2_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv2_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv2.webp" type="image/webp" />
                <img src="./images/top/mv2.jpg" alt="">
            </picture>
            <picture>
                <source srcset="./images/top/mv3_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv3_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv3.webp" type="image/webp" />
                <img src="./images/top/mv3.jpg" alt="">
            </picture>
            <picture>
                <source srcset="./images/top/mv4_sp.webp" media="(max-width:768px)" type="image/webp" />
                <source srcset="./images/top/mv4_sp.jpg" media="(max-width:767px)"/>
                <source srcset="./images/top/mv4.webp" type="image/webp" />
                <img src="./images/top/mv4.jpg" alt="">
            </picture>
        </div>
        <h2 class="p-mv__title">
            <img src="./images/top/mv_ttl.png" alt="Artisan est Artiste">
        </h2>
    </div>
</div>