<div class="p-pageTitle">
    <div class="p-pageTitle__inner l-inner">
        <div class="p-pageTitle__title">
            <%- include('../component/_c-title',{
                title:'ひらみ通信',
                subtitle:'NEWS'
            }) %>
        </div>
    </div>
</div>