<div class="p-recruit">
    <div class="p-recruit__inner l-inner">
        <div class="p-recruit__title">
            <%- include('../component/_c-title2',{
                title:'募集要項',
                subtitle:'GUIDELINES'
            }) %>
        </div>
        <ul class="p-recruit__tabs">
            <li class="p-recruit__tab is-active">新卒・中途</li>
            <li class="p-recruit__tab">アルバイト</li>
        </ul>
        <div class="p-recruit__main">
            <dl class="p-recruit__info">
                <div class="p-recruit__row">
                    <dt>募集職種</dt>
                    <dd>パン製造スタッフ</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>業務内容</dt>
                    <dd>パンなどの調理・製造、配達、移動販売などをお任せします。</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>勤務時間</dt>
                    <dd>
                        火・水・木・金・土・日<br class="u-mobile">（週４０hシフト制）<br>
                        ①４：００-１３：００　<br class="u-mobile">②６-１５：００<br>
                        ※残業月平均３０h　<br class="u-mobile">※休憩６０分
                    </dd>
                </div>
                <div class="p-recruit__row">
                    <dt>応募資格</dt>
                    <dd>要普免、学歴不問、飲食店等経験者優遇</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>給与</dt>
                    <dd>月給１９万円～２５万円<br>
                        給与には固定残業代３５h分/４万円～５万２０００円を含む<br>
                        ※超過分別途支給
                    </dd>
                </div>
                <div class="p-recruit__row">
                    <dt>休日・休暇</dt>
                    <dd>月曜定休日、他、平日１日　年１０６休日、有給有り</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>手当</dt>
                    <dd>交通費規定支給</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>勤務期間</dt>
                    <dd>
                        最低勤務期間：３ヶ月以上<br>
                        最低勤務日数：週５日<br>
                        最低勤務時間：１日８時間
                    </dd>
                </div>
                <div class="p-recruit__row">
                    <dt>シフトの<br class="u-mobile">決め方</dt>
                    <dd>シフトサイクル： １ヶ月</dd>
                </div>
            </dl>
            <dl class="p-recruit__info">
                <div class="p-recruit__row">
                    <dt>募集職種</dt>
                    <dd>パン製造スタッフ</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>業務内容</dt>
                    <dd>パンなどの調理・製造、配達、移動販売などをお任せします。</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>勤務時間</dt>
                    <dd>
                        火・水・木・金・土・日<br class="u-mobile">（週４０hシフト制）<br>
                        ①４：００-１３：００　<br class="u-mobile">②６-１５：００<br>
                        ※残業月平均３０h　<br class="u-mobile">※休憩６０分
                    </dd>
                </div>
                <div class="p-recruit__row">
                    <dt>応募資格</dt>
                    <dd>要普免、学歴不問、飲食店等経験者優遇</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>給与</dt>
                    <dd>月給１９万円～２５万円<br>
                        給与には固定残業代３５h分/４万円～５万２０００円を含む<br>
                        ※超過分別途支給
                    </dd>
                </div>
                <div class="p-recruit__row">
                    <dt>休日・休暇</dt>
                    <dd>月曜定休日、他、平日１日　年１０６休日、有給有り</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>手当</dt>
                    <dd>交通費規定支給</dd>
                </div>
                <div class="p-recruit__row">
                    <dt>勤務期間</dt>
                    <dd>
                        最低勤務期間：３ヶ月以上<br>
                        最低勤務日数：週５日<br>
                        最低勤務時間：１日８時間
                    </dd>
                </div>
                <div class="p-recruit__row">
                    <dt>シフトの<br class="u-mobile">決め方</dt>
                    <dd>シフトサイクル： １ヶ月</dd>
                </div>
            </dl>
        </div>
    </div>
</div>