<div class="p-single">
    <div class="p-single__inner l-inner">
        <div class="p-single__main">
            <picture class="p-single__thumbnail">
                <img src="./images/top/dummy_thumbnail.jpg" alt="">
            </picture>
            <time datetime="2024.6.1" class="p-single__time">2024.6.1</time>
            <h1 class="p-single__title">あじさいの梅雨の知らせ</h1>
            <div class="p-single__content">
                <p>
                    ダミー建物全体が緑に包まれてきたひらみぱん。<br>
                    お店の玄関では、ピンクのあじさいが咲き始めました。<br>
                    植物たちが梅雨の訪ずれをお知らせします。
                </p>
            </div>
        </div>
        <div class="p-single__bnr">
            <%- include('../component/_c-bnr') %>
        </div>
    </div>
</div>