<div class="p-what">
    <div class="p-what__inner l-inner">
        <div class="p-what__title">
            <%- include('../component/_c-title2',{
                title:'求める人物像',
                subtitle:'WHAT WE LOOK FOR'
            }) %>
        </div>
        <div class="p-what__text">
            共にはたらくうえで大事にしているのは、<br class="u-mobile">価値観をひとつにすることです。<br>
            わたしたちと同じ考え方＝<br class="u-mobile">価値観をもっている人であれば、<br>
            そしてちゃんと情熱をもった人であれば、<br>
            たとえ能力がまだまだでも、いっしょに<br class="u-mobile">成長できるようにサポートしていきます。
        </div>
        <ul class="p-what__blocks">
            <li class="p-what__block">
                <p>能力　｜　情熱　｜　考え方</p>
                <p>〇　　 　　〇　　 　　〇</p>
                <p>三拍子がそろっている人であれば<br class="u-mobile">最高です。</p>
            </li>
            <li class="p-what__block">
                <p>能力　｜　情熱　｜　考え方</p>
                <p>×　　 　　〇　　 　　〇</p>
                <p>能力が不十分でもだいじょうぶ。<br class="u-mobile">あなたの成長を応援します。</p>
            </li>
            <li class="p-what__block">
                <p>能力　｜　情熱　｜　考え方</p>
                <p>×　　 　　〇　　 　　×</p>
                <p>考え方＝価値観を共有するためにたくさん<br class="u-mobile">対話をしていきましょう。<br>共に仕事をしながら必要な能力を<br class="u-mobile">身につけていきましょう。</p>
            </li>
            <li class="p-what__block">
                <p>能力　｜　情熱　｜　考え方</p>
                <p>〇　　 　　×　　 　　×</p>
                <p>能力だけを評価するのはむずかしいです。<br>
                    情熱がなければ考え方＝価値観を<br class="u-mobile">醸成するのもむずかしいです。</p>
            </li>
        </ul>
    </div>
</div>