@use 'global' as *;

.p-float {
    position: fixed;
    width: rem(116);
    bottom: rem(22);
    right: rem(25);
    z-index: 5;

    @include mq(md) {
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.p-float__btns {
    @include mq(md) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.p-float__btn + .p-float__btn {
    margin-top: rem(8);

    @include mq(md) {
        margin-top: 0;
    }
}

.p-float__btn a {
    transition: all 0.3s;
}

.p-float__btn a:hover {
    opacity: 0.8;
}