@use 'global' as *;

.p-recruit {
    @include mq(md) {
        padding-inline: rem(18);
    }
}

.p-recruit__inner {
    background-color: $white;
    padding-block: rem(160);
    
    @include mq(md) {
        padding: rem(70) rem(16);
    }
}

.p-recruit__title {

}

.p-recruit__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(55);
    margin-top: rem(70);
}

.p-recruit__tab.is-active {
    opacity: 1;
}

.p-recruit__tab {
    display: inline-block;
    position: relative;
    font-size: rem(16);
    font-weight: bold;
    letter-spacing: 0.2em;
    opacity: 0.3;
    cursor: pointer;
}

.p-recruit__tab::before {
    position: absolute;
    content: "";
    width: rem(94);
    height: rem(12);
    left: 50%;
    bottom: rem(-18);
    transform: translateX(-50%);
    background: url(../images/recruit/border.svg) center center / contain no-repeat;
    opacity: 0;
}

.p-recruit__tab.is-active::before {
    opacity: 1;
}

.p-recruit__info {
    max-width: rem(720);
    margin-inline: auto;
    margin-top: rem(80);

    @include mq(md) {
        margin-top: rem(60);
    }
}

.p-recruit__row:first-child {
    border-top: 1px solid #C9C9C9;
}

.p-recruit__info:nth-child(2) {
    display: none;
}

.p-recruit__row {
    display: grid;
    grid-template-columns: rem(150) 1fr;
    padding-inline: rem(20);
    padding-block: rem(15);
    border-bottom: 1px solid #C9C9C9;

    @include mq(md) {
        grid-template-columns: rem(82) 1fr;
        padding-inline: rem(10);
    }
}

.p-recruit__row dt {
    font-size: rem(14);
    line-height: calc(26/14);
    letter-spacing: 0.05em;

    @include mq(md) {
        font-size: rem(12);
        line-height: calc(16/12);
    }
}

.p-recruit__row dd {
    font-size: rem(14);
    line-height: calc(26/14);
    letter-spacing: 0.05em;
}