<div class="c-bnr">
    <a href="#">
        <picture>
            <source srcset="./images/common/bnr1_sp.webp" media="(max-width:767px)" type="image/webp" />
            <source srcset="./images/common/bnr1_sp.jpg" media="(max-width:767px)" />
            <source srcset="./images/common/bnr1.webp" type="image/webp" />
            <img src="./images/common/bnr1.jpg" alt="">
        </picture>
    </a>
    <a href="#">
        <picture>
            <source srcset="./images/common/bnr2_sp.webp" media="(max-width:767px)" type="image/webp" />
            <source srcset="./images/common/bnr2_sp.jpg" media="(max-width:767px)" />
            <source srcset="./images/common/bnr2.webp" type="image/webp" />
            <img src="./images/common/bnr2.jpg" alt="">
        </picture>
    </a>
    <a href="#">
        <picture>
            <source srcset="./images/common/bnr3_sp.webp" media="(max-width:767px)" type="image/webp" />
            <source srcset="./images/common/bnr3_sp.jpg" media="(max-width:767px)" />
            <source srcset="./images/common/bnr3.webp" type="image/webp" />
            <img src="./images/common/bnr3.jpg" alt="">
        </picture>
    </a>
</div>