<a href="#" class="c-card">
    <picture class="c-card__img">
        <img src="./images/top/dummy_thumbnail.jpg" alt="">
    </picture>
    <time datetime="2024.6.1" class="c-card__time">2024.6.1</time>
    <p class="c-card__title">あじさいの梅雨の知らせ</p>
</a>