@use 'global' as *;


.c-bnr {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: rem(50);

    @include mq(md) {
        grid-template-columns: 1fr;
        gap: rem(18);
    }

    a {
        display: block;
        position: relative;
    }

    a::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: $black;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: all 0.3s;
        opacity: 0;
    }

    a:hover::before {
        opacity: 0.2;
    }
}
