@use 'global' as *;

.c-hamburger {
    position: relative;
    width: 100%;
    height: 100%;
}

.c-hamburger span {
    position: absolute;
    display: inline-block;
    background-color: $white;
    height: 2px;
    width: rem(30);
    left: 50%;
    background-color: $white;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
}

.c-hamburger span:nth-child(1) {
    top: 0;
}

.c-hamburger span:nth-child(2) {
    top: 50%;
}

.c-hamburger span:nth-child(3) {
    top: 100%;
}

.c-hamburger.is-active {
    span {
        background-color: $main-color;
    }
    span:nth-child(1) {
        top: 50%;
        transform:translate(-50%,-50%) rotate(-45deg) ;
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        top: 50%;
        transform:translate(-50%,-50%) rotate(45deg) ;
    }
}