@use 'global' as *;

.c-title {
    position: relative;
    text-align: center;
    padding-top: rem(54);
}

.c-title::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: rem(40);
    height: rem(40);
    top: 0;
    background-color: $main-color;
    mask: url(../images/common/icon_title.svg) center center / contain no-repeat;
}

.c-title.--white::before {
    background-color: $white;
}

.c-title__en {
    font-weight: 400;
    font-size: rem(24);
    letter-spacing: 0.1em;
    line-height: calc(31/24);

    @include mq(md) {
        font-size: rem(20);
        line-height: calc(25/20);
    }
}

.c-title__ja {
    font-size: rem(14);
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: calc(20/14);
}