<nav class="p-globalNav">
    <ul class="p-globalNav__lists">
        <li class="p-globalNav__list">
            <a href="#"><span class="en">BON VOYAGE</span>ごあいさつ</a>
        </li>
        <li class="p-globalNav__list">
            <a href="#"><span class="en">SHOPPING</span>おかいもの</a>
        </li>
        <li class="p-globalNav__list">
            <a href="#"><span class="en">NEWS</span>ひらみ通信</a>
        </li>
    </ul>
</nav>