<nav class="p-globalNav">
    <ul class="p-globalNav__lists">
        <li class="p-globalNav__list">
            <a href="#"><span class="en">EVENT</span>催事</a>
        </li>
        <li class="p-globalNav__list">
            <a href="#"><span class="en">RECRUIT</span>採用情報</a>
        </li>
        <li class="p-globalNav__list">
            <a href="#"><span class="en">ABOUT</span>わたしたちのこと</a>
        </li>
    </ul>
</nav>