<div class="p-drawer">
    <div class="p-drawer__inner">
        <div class="p-drawer__logo">
            <a href="#">
                <img src="./images/common/logo.png" alt="ひらみぱんのロゴ">
            </a>
        </div>
        <nav class="p-drawer__nav">
            <ul class="p-drawer__links">
                <li class="p-drawer__link">
                    <a href="#">
                        <span class="en">BON VOYAG</span>ごあいさつ
                    </a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">
                        <span class="en">SHOPPING</span>おかいもの
                    </a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">
                        <span class="en">NEWS</span>ひらみ通信
                    </a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">
                        <span class="en">EVENT</span>催事
                    </a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">
                        <span class="en">RECRUIT</span>採用情報
                    </a>
                </li>
                <li class="p-drawer__link">
                    <a href="#">
                        <span class="en">ABOUT</span>わたしたちのこと
                    </a>
                </li>
            </ul>
            <div class="p-drawer__btn">
                <a href="#">
                    <picture>
                        <img src="./images/common/btn_onlineshop.jpg" alt="オンラインショップ">
                    </picture>
                </a>
            </div>
            <div class="p-drawer__btn">
                <a href="#">
                    <picture>
                        <img src="./images/common/btn_schedule.svg" alt="ひらみぱんの移動販売の年間スケジュール">
                    </picture>
                </a>
            </div>
        </nav>
    </div>
</div>