<div class="p-sub-header">
    <div class="p-sub-header__inner l-inner">
        <div class="p-sub-header__nav">
            <%- include('_globalNav1') %>
        </div>
        <h1 class="p-sub-header__logo">
            <a href="#">
                <img src="./images/common/logo.png" alt="ひらみぱんのロゴ">
            </a>
        </h1>
        <div class="p-sub-header__nav">
            <%- include('_globalNav2') %>
        </div>
        <div class="p-sub-header__hamburger">
            <%- include('../component/_c-hamburger') %>
        </div>
        <div class="p-sub-header__drawer">
            <%- include('_p-drawer') %>
        </div>
    </div>
</div>